// holds everything
.container{
  max-width: 120rem;
  margin: 8rem auto;
  //background-color: var(--color-grey-ligh-1);
  box-shadow: var(--color-shadow-dark);
  min-height: 50rem;
  // background-image: url(../img/hotel-3.jpg);
  // background-size: cover;
  // width: 100vw;
  @media only screen and (max-width: $bp-largest){
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

//search bar
.header{
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: .5rem solid var(--color-grey-ligh-2);
  display:flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $bp-smallest){
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content{
  display:flex;
  @media only screen and (max-width: $bp-medium){
  flex-direction: column;

  }

}
// navigation bar
.sidebar{
  /*
      takes up 18% of the container width
  */
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.hotel-view{
  /*
  // holds the main content
    height: 80rem; for testing
  */
  background-color: #fff;
  flex: 1;
}



.detail{
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-ligh-1);
  border-bottom: var(--line);
  @media only screen and (max-width: $bp-medium){
    padding: 2rem;
  }
  @media only screen and (max-width: $bp-small){
    flex-direction: column;
    //justify-content: space-between;
  }
}
.description{
  font-size: 1.4rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--color-shadow-ligh);
  @media only screen and (max-width: $bp-medium){
    padding: 2rem;
    margin-right: 2.5rem;
  }
  @media only screen and (max-width: $bp-small){
    margin-bottom: 2rem;
    margin-right: 0;
    padding: 1.5rem;
  }
}
.user-reviews{
flex: 1;

display: flex;
flex-direction: column;
align-items: center;
}
